gvChart-master/schemaorg_apache_xmlbeans/src/EmployeeDetailRQ.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.scigenom.com/Webservices/EmployeeDetailRQ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EmployeeDetailRQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="EmployeeInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Employee">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:byte" name="EmployeeID"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>